* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.container {
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    color: black;
}

#time {
    font-size: 8rem;
}

h1 {
    margin-bottom: 3rem;
}

h2 {
    margin-bottom: 0.5rem;
    opacity: 0.6;
    outline: none;
    font-size: 1.7rem;
}

h3 {
    opacity:0.6;
    font-size: 1.2rem;
}

hr {
    width: 300px;
    border:1px solid white;
}

/* Quote */
.quote-container{
    width: auto;
    position: absolute;
    bottom: 1.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

h2.quote {
    font-size: 1.5rem;
}

h3.author{
    transform:scaleY(0);
}

.quote-container:hover h3.author{
    transform:scaleY(1);
    transition:transform 0.3s ease-out
}

/* TODO list */
.task-container {
    display: block;
    position: absolute;
    bottom: 50px;
    right: 20px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    padding: 1rem;
    margin: 1rem;
}

.task-container h1 {
	color: #fff;
	font-size: 1.5rem;
	font-weight: 50;
	text-align: left;
	margin: 0.7rem 0 3rem; 
	font-family: 'Quicksand', sans-serif;
}

.inputDiv{
	display: flex;
	justify-content: center;
	align-items: center;
}


.input{
    padding: 0.5rem;
    outline: none;
    border: none;
    height: 40px;
    width: 100%;
    transition: .5s;
    font-size: 1.15rem;
    background:rgba(0, 0, 0, 0.1);
    color: white;
}

.add{
	outline: none;
    border: none;
    height: 30px;
    border-radius: 25px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.6);
    color:black;
    cursor: pointer;
    transition: .5s;
    margin: 0.25rem;
}

.add:hover{
	opacity: 0.8;
}


@media (max-width: 700px) {
    #time {
    font-size: 6rem;
    }
}
